<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.EmpMapper">
  
  <select id="empListData" resultType="com.sist.vo.EmpVO">
    SELECT empno,ename,job,hiredate as dbday,sal
    FROM emp
  </select>
  <select id="empDeleteList" resultType="com.sist.vo.EmpVO" parameterType="hashmap">
    SELECT empno,ename,job,hiredate as dbday, sal
    FROM ${table_name}
  </select>
  <delete id="allDelete" parameterType="int">
	{
		call
		   declare
		   BEGIN
		      DELETE FROM emp_5  where empno=#{empno};
		      DELETE FROM emp_6  where empno=#{empno};
		      DELETE FROM emp_7  where empno=#{empno};
		      DELETE FROM emp_8  where empno=#{empno};
		      DELETE FROM emp_9  where empno=#{empno};
		      DELETE FROM emp_10 where empno=#{empno};
		   END
	}
	</delete>
</mapper>